@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0d5769;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: 75px;
    margin-top: 55px;
}

.user>h1 {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
}

.about>p {
    margin-top: 50px;
    margin-left: 35px;
    margin-right: 20px;
    font-size: 28px;
    color: rgb(0, 111, 131);
    padding: 10px;
    background: linear-gradient(to right bottom, rgba(137, 241, 255, 0.555), rgba(128, 245, 253, 0.411));
    border-radius: 30px;
}


/* button start */

.about>button {
    background: rgba(0, 153, 255, 0.212);
    margin-top: 20px;
    margin-left: 40px;
    padding: 10px 20px;
    font-size: 25px;
    width: 200px;
    border: 3px solid rgba(84, 209, 231, 0.575);
    border-radius: 50px;
    color: rgba(17, 126, 216, 0.822);
    font-weight: 700;
    cursor: pointer;
    transition: 250ms;
}

.about>button:hover {
    /* background: linear-gradient(to right bottom, rgba(0, 225, 255, 0.555), rgba(63, 142, 148, 0.411)); */
    background: rgba(64, 165, 224, 0.514);
    width: 200px;
    border: 3px solid rgba(64, 165, 224, 0.301);
    color: rgb(51, 68, 80);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


/* button end  */

.glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: row;
}

.circle1,
.circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    height: 12rem;
    width: 12rem;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 5%;
    right: 15%;
}

.circle2 {
    bottom: 5%;
    left: 15%;
}